.slide-container{
  width:300vw;
  /* margin-left: -100vw;
  margin-left: -200vw; */
  /* transform: translateX(-100vw); */
  /* transform: translateX(-200vw); */
  /* margin-left랑 transform:transitionX 는 동일한기능을하지만 성능적으로 트렌스폼이 나음
  그리고 width 300vw를 줬었기에, -100할때마다 다음사진 보여줌(옆으로 길게 있다고 생각) */
  transition: all 1s;
}


.slide-box{
  width: 100vw;
  float: left;
}

.slide-box img{
  width:100%;
}