.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  /* display:none; */
  visibility: hidden;
  /*애니메이션 쓸 때 display:none보다 visibility 쓰는게 나음*/
  opacity: 0;
  /*투명도*/
  transition: all 1s;
  /*시작스타일에 transition추가 1초동안 서서히 애니메이션 변화*/
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 
/* .alert-login{
  display:none;
} */
.show-modal{
  /* display:block; */
  visibility: visible;
  opacity: 1;
}


.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 




.list-group{
  height:0px;
  overflow: hidden;
  transition: all 1s;
}

.show{
  height:250px;
  display:block;
}






.main-bg{
  padding:100px 20px;
  background: lightgray;
}